In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model

In [2]:
df = pd.read_excel('/home/vivek/Downloads/table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls')
df.columns = ['City', 'population', 'violent crime', 'murder', 'rape', 'rape^2', 'robbery', 'aggravated assault', 'property crime', 'burglary', 'larceny-theft', 'motor vehicle theft', 'arson^3']

In [3]:
df.head()

,City,population,violent crime,murder,rape,rape^2,robbery,aggravated assault,property crime,burglary,larceny-theft,motor vehicle theft,arson^3
0,NEW YORK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"by City, 2013",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson3
4,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0

In [4]:
df = df.drop(['rape', 'arson^3', 'aggravated assault', 'rape^2', 'burglary', 'larceny-theft', 'motor vehicle theft', 'violent crime'], axis=1)
df = df.drop([3])

In [5]:
df = df.dropna()

In [6]:
df['population^2'] = df['population'] ** 2

In [7]:
df.loc[df['murder']>0, 'murder'] = 1
df.loc[df['robbery']>0, 'robbery'] = 1

In [8]:
df.head()

,City,population,murder,robbery,property crime,population^2
4,Adams Village,1861,0,0,12,3463321
5,Addison Town and Village,2577,0,0,24,6640929
6,Akron Village,2846,0,0,16,8099716
7,Albany,97956,1,1,4090,9595377936
8,Albion Village,6388,0,1,223,40806544

In [9]:
y = df['property crime']

In [10]:
x = df[['population', 'population^2', 'murder', 'robbery']]

In [11]:
reg = linear_model.LinearRegression()

In [12]:
reg.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [13]:
print(reg.coef_)

[ 3.46570268e-02 -2.11108019e-09  1.51866535e+01 -9.62774363e+01]

In [14]:
print(reg.intercept_)

-109.57533562257333

In [15]:
reg.score(x,y)

0.9961247104988709