In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn.decomposition import PCA
from scipy.stats import mstats
import statsmodels.formula.api as smf
%matplotlib inline

In [29]:
df = pd.read_excel('/home/vivek/Downloads/table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls')
df.columns = ['City', 'population', 'violent crime', 'murder', 'rape', 'rape^2', 'robbery', 'aggravated assault', 'property crime', 'burglary', 'larceny-theft', 'motor vehicle theft', 'arson^3']

In [30]:
df.head()

,City,population,violent crime,murder,rape,rape^2,robbery,aggravated assault,property crime,burglary,larceny-theft,motor vehicle theft,arson^3
0,NEW YORK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"by City, 2013",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson3
4,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0

In [31]:
df = df.drop(['rape', 'arson^3', 'aggravated assault', 'rape^2', 'larceny-theft', 'motor vehicle theft', 'violent crime'], axis=1)
df = df.drop([3])

In [32]:
df = df.dropna()
print(df.shape)

(348, 6)

In [33]:
df['pCrime'] = df['property crime']
df['population^2'] = df['population'] * df['population']
print(df.head())

                       City population murder robbery property crime burglary  \
4             Adams Village       1861      0       0             12        2
5  Addison Town and Village       2577      0       0             24        3
6             Akron Village       2846      0       0             16        1
7                    Albany      97956      8     227           4090      705
8            Albion Village       6388      0       4            223       53

  pCrime population^2
4     12      3463321
5     24      6640929
6     16      8099716
7   4090   9595377936
8    223     40806544

In [34]:
df=df.drop(['City', 'property crime'], 1)
x=df[['population', 'robbery', 'murder', 'population^2']]
y=df['pCrime']
reg = linear_model.LinearRegression()
reg.fit(x,y)
print(reg.score(x,y))
print(reg.coef_)

0.9987417422426045
[ 1.59234109e-02  2.09186047e+00  1.17559521e+02 -1.01045794e-09]

In [35]:
print(df.head())
df = df.astype(np.float32)

  population murder robbery burglary pCrime population^2
4       1861      0       0        2     12      3463321
5       2577      0       0        3     24      6640929
6       2846      0       0        1     16      8099716
7      97956      8     227      705   4090   9595377936
8       6388      0       4       53    223     40806544

In [39]:
linear_formula = 'pCrime ~ population+murder+robbery+burglary'
lm = smf.ols(formula=linear_formula, data=df).fit()

In [40]:
print(lm.params)

Intercept    -23.523566
population     0.012603
murder        -8.681119
robbery       -0.668695
burglary       3.123793
dtype: float64

In [41]:
lm.pvalues

Intercept      2.762536e-02
population     4.229778e-79
murder         3.604647e-01
robbery        3.029932e-02
burglary      2.294671e-104
dtype: float64

In [ ]:
lm.rsquared