In [30]:
import numpy as np
import pandas as pd

In [31]:
df = pd.DataFrame()

In [32]:
df['age'] = [14, 12, 11, 10, 8, 6]
df.index = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy']

In [33]:
df.loc['Oliver'] = 8

In [34]:
df.age.describe()

count     7.000000
mean      9.857143
std       2.734262
min       6.000000
25%       8.000000
50%      10.000000
75%      11.500000
max      14.000000
Name: age, dtype: float64

In [35]:
df.age.std()/(len(df.age))**0.5

1.0334540197243192

In [36]:
df.age.median()

10.0

In [37]:
df.age.mode()

0    8
dtype: int64

In [38]:
df.age.mean()

9.857142857142858

In [39]:
df.age.var()

7.476190476190475

In [40]:
df.age.std()

2.734262327610589

In [41]:
df.loc['Cindy']=df.loc['Cindy']+1

In [42]:
df.loc['Cindy']

age    7
Name: Cindy, dtype: int64

In [43]:
df.age.mean()

10.0

In [44]:
df.age.median()

10.0

In [45]:
df.age.mode()

0    8
dtype: int64

In [46]:
df.age.var()

6.333333333333333

In [47]:
df.age.std()

2.516611478423583

In [49]:
df.age.std() / len(df.age)**0.5

0.9511897312113418

In [20]:
df.drop('Oliver')

        age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     7

In [21]:
df.loc['Jessica'] = 1

In [22]:
df.age.mean()

8.875

In [23]:
df.age.median()

9.0

In [24]:
df.age.mode()

0    8
dtype: int64

In [25]:
df.age.var()

15.553571428571429

In [26]:
df.age.std()

3.943801646707328

In [27]:
df.age.var()

15.553571428571429

In [28]:
np.var(df.age)

13.609375

In [29]:
df.age.std()/len(df.age)**0.5

1.394344444020712