# Introduction

This notebook is aimed to classifying different text data into their respective authors. Data is taken from gutenberg texts. 10 seperate text files are seperated into sentences with their respective authors and stored into a dataframe. 

I will try to do clustering on these sentences and check whether clustering algorithm is able to seperate those texts according to their authors. Then i will create few models to predict the author from text sentence.

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import spacy
import matplotlib.pyplot as plt
import seaborn as sns
import re
from nltk.corpus import gutenberg, stopwords
from collections import Counter
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.cluster import KMeans, MeanShift, SpectralClustering
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import silhouette_score, confusion_matrix
from sklearn.decomposition import TruncatedSVD, LatentDirichletAllocation
import nltk
from keras.layers import LSTM, Dense, Embedding, SpatialDropout1D
from keras.models import Sequential
from keras.preprocessing.sequence import pad_sequences

nltk.download('gutenberg')

Using TensorFlow backend.
[nltk_data] Error loading gutenberg: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [2]:
gutenberg.fileids()

['austen-emma.txt',
 'austen-persuasion.txt',
 'austen-sense.txt',
 'bible-kjv.txt',
 'blake-poems.txt',
 'bryant-stories.txt',
 'burgess-busterbrown.txt',
 'carroll-alice.txt',
 'chesterton-ball.txt',
 'chesterton-brown.txt',
 'chesterton-thursday.txt',
 'edgeworth-parents.txt',
 'melville-moby_dick.txt',
 'milton-paradise.txt',
 'shakespeare-caesar.txt',
 'shakespeare-hamlet.txt',
 'shakespeare-macbeth.txt',
 'whitman-leaves.txt']

In [3]:
def text_cleaner(text):
    # Visual inspection identifies a form of punctuation spaCy does not
    # recognize: the double dash '--'.  Better get rid of it now!
    text = re.sub(r'--',' ',text)
    text = re.sub("[\[].*?[\]]", "", text)
    text = ' '.join(text.split())
    return text
    
# Load and clean the data.
persuasion = gutenberg.raw('austen-persuasion.txt')
poems = gutenberg.raw('blake-poems.txt')
stories = gutenberg.raw('bryant-stories.txt')
busterbrown = gutenberg.raw('burgess-busterbrown.txt')
alice = gutenberg.raw('carroll-alice.txt')
ball = gutenberg.raw('chesterton-ball.txt')
parents = gutenberg.raw('edgeworth-parents.txt')
moby_dick = gutenberg.raw('melville-moby_dick.txt')
paradise = gutenberg.raw('milton-paradise.txt')
hamlet = gutenberg.raw('shakespeare-hamlet.txt')

# The Chapter indicator is idiosyncratic
persuasion = re.sub(r'Chapter \d+', '', persuasion)
alice = re.sub(r'CHAPTER .*', '', alice)
poems = re.sub(r'CHAPTER .*', '', poems)
stories = re.sub(r'CHAPTER .*', '', stories)
busterbrown = re.sub(r'CHAPTER .*', '', busterbrown)
ball = re.sub(r'CHAPTER .*', '', ball)
parents = re.sub(r'CHAPTER .*', '', parents)
moby_dick = re.sub(r'CHAPTER .*', '', moby_dick)
paradise = re.sub(r'CHAPTER .*', '', paradise)
hamlet = re.sub(r'CHAPTER .*', '', hamlet)

In [4]:
# Decrease size of our text dataset

alice = text_cleaner(alice[:int(len(alice)/10)])
persuasion = text_cleaner(persuasion[:int(len(persuasion)/10)])
poems = text_cleaner(poems[:int(len(poems)/10)])
stories = text_cleaner(stories[:int(len(stories)/10)])
busterbrown = text_cleaner(busterbrown[:int(len(busterbrown)/10)])
ball = text_cleaner(ball[:int(len(ball)/10)])
parents = text_cleaner(parents[:int(len(parents)/10)])
moby_dick = text_cleaner(moby_dick[:int(len(moby_dick)/10)])
paradise = text_cleaner(paradise[:int(len(paradise)/10)])
hamlet = text_cleaner(hamlet[:int(len(hamlet)/10)])

In [5]:
nltk.sent_tokenize(alice)

["Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: once or twice she had peeped into the book her sister was reading, but it had no pictures or conversations in it, 'and what is the use of a book,' thought Alice 'without pictures or conversation?'",
 'So she was considering in her own mind (as well as she could, for the hot day made her feel very sleepy and stupid), whether the pleasure of making a daisy-chain would be worth the trouble of getting up and picking the daisies, when suddenly a White Rabbit with pink eyes ran close by her.',
 "There was nothing so VERY remarkable in that; nor did Alice think it so VERY much out of the way to hear the Rabbit say to itself, 'Oh dear!",
 'Oh dear!',
 "I shall be late!'",
 '(when she thought it over afterwards, it occurred to her that she ought to have wondered at this, but at the time it all seemed quite natural); but when the Rabbit actually TOOK A WATCH OUT OF ITS WAISTCOAT-POCKET, and looked at it, and then hurried on, Alice started to her feet, for it flashed across her mind that she had never before seen a rabbit with either a waistcoat-pocket, or a watch to take out of it, and burning with curiosity, she ran across the field after it, and fortunately was just in time to see it pop down a large rabbit-hole under the hedge.',
 'In another moment down went Alice after it, never once considering how in the world she was to get out again.',
 'The rabbit-hole went straight on like a tunnel for some way, and then dipped suddenly down, so suddenly that Alice had not a moment to think about stopping herself before she found herself falling down a very deep well.',
 'Either the well was very deep, or she fell very slowly, for she had plenty of time as she went down to look about her and to wonder what was going to happen next.',
 'First, she tried to look down and make out what she was coming to, but it was too dark to see anything; then she looked at the sides of the well, and noticed that they were filled with cupboards and book-shelves; here and there she saw maps and pictures hung upon pegs.',
 "She took down a jar from one of the shelves as she passed; it was labelled 'ORANGE MARMALADE', but to her great disappointment it was empty: she did not like to drop the jar for fear of killing somebody, so managed to put it into one of the cupboards as she fell past it.",
 "'Well!'",
 "thought Alice to herself, 'after such a fall as this, I shall think nothing of tumbling down stairs!",
 "How brave they'll all think me at home!",
 "Why, I wouldn't say anything about it, even if I fell off the top of the house!'",
 '(Which was very likely true.)',
 'Down, down, down.',
 'Would the fall NEVER come to an end!',
 "'I wonder how many miles I've fallen by this time?'",
 'she said aloud.',
 "'I must be getting somewhere near the centre of the earth.",
 "Let me see: that would be four thousand miles down, I think ' (for, you see, Alice had learnt several things of this sort in her lessons in the schoolroom, and though this was not a VERY good opportunity for showing off her knowledge, as there was no one to listen to her, still it was good practice to say it over) ' yes, that's about the right distance but then I wonder what Latitude or Longitude I've got to?'",
 '(Alice had no idea what Latitude was, or Longitude either, but thought they were nice grand words to say.)',
 'Presently she began again.',
 "'I wonder if I shall fall right THROUGH the earth!",
 "How funny it'll seem to come out among the people that walk with their heads downward!",
 "The Antipathies, I think ' (she was rather glad there WAS no one listening, this time, as it didn't sound at all the right word) ' but I shall have to ask them what the name of the country is, you know.",
 "Please, Ma'am, is this New Zealand or Australia?'",
 "(and she tried to curtsey as she spoke fancy CURTSEYING as you're falling through the air!",
 'Do you think you could manage it?)',
 "'And what an ignorant little girl she'll think me for asking!",
 "No, it'll never do to ask: perhaps I shall see it written up somewhere.'",
 'Down, down, down.',
 'There was nothing else to do, so Alice soon began talking again.',
 "'Dinah'll miss me very much to-night, I should think!'",
 '(Dinah was the cat.)',
 "'I hope they'll remember her saucer of milk at tea-time.",
 'Dinah my dear!',
 'I wish you were down here with me!',
 "There are no mice in the air, I'm afraid, but you might catch a bat, and that's very like a mouse, you know.",
 "But do cats eat bats, I wonder?'",
 "And here Alice began to get rather sleepy, and went on saying to herself, in a dreamy sort of way, 'Do cats eat bats?",
 "Do cats eat bats?'",
 "and sometimes, 'Do bats eat cats?'",
 "for, you see, as she couldn't answer either question, it didn't much matter which way she put it.",
 "She felt that she was dozing off, and had just begun to dream that she was walking hand in hand with Dinah, and saying to her very earnestly, 'Now, Dinah, tell me the truth: did you ever eat a bat?'",
 'when suddenly, thump!',
 'thump!',
 'down she came upon a heap of sticks and dry leaves, and the fall was over.',
 'Alice was not a bit hurt, and she jumped up on to her feet in a moment: she looked up, but it was all dark overhead; before her was another long passage, and the White Rabbit was still in sight, hurrying down it.',
 "There was not a moment to be lost: away went Alice like the wind, and was just in time to hear it say, as it turned a corner, 'Oh my ears and whiskers, how late it's getting!'",
 'She was close behind it when she turned the corner, but the Rabbit was no longer to be seen: she found herself in a long, low hall, which was lit up by a row of lamps hanging from the roof.',
 'There were doors all round the hall, but they were all locked; and when Alice had been all the way down one side and up the other, trying every door, she walked sadly down the middle, wondering how she was ever to get out again.',
 "Suddenly she came upon a little three-legged table, all made of solid glass; there was nothing on it except a tiny golden key, and Alice's first thought was that it might belong to one of the doors of the hall; but, alas!",
 'either the locks were too large, or the key was too small, but at any rate it would not open any of them.',
 'However, on the second time round, she came upon a low curtain she had not noticed before, and behind it was a little door about fifteen inches high: she tried the little golden key in the lock, and to her great delight it fitted!',
 'Alice opened the door and found that it led into a small passage, not much larger than a rat-hole: she knelt down and looked along the passage into the loveliest garden you ever saw.',
 "How she longed to get out of that dark hall, and wander about among those beds of bright flowers and those cool fountains, but she could not even get her head through the doorway; 'and even if my head would go through,' thought poor Alice, 'it would be of very little use without my shoulders.",
 'Oh, how I wish I could shut up like a telescope!',
 "I think I could, if I only know how to begin.'",
 'For, you see, so many out-of-the-way things had happened lately, that Alice had begun to think that very few things indeed were really impossible.',
 "There seemed to be no use in waiting by the little door, so she went back to the table, half hoping she might find another key on it, or at any rate a book of rules for shutting people up like telescopes: this time she found a little bottle on it, ('which certainly was not here before,' said Alice,) and round the neck of the bottle was a paper label, with the words 'DRINK ME' beautifully printed on it in large letters.",
 "It was all very well to say 'Drink me,' but the wise little Alice was not going to do THAT in a hurry.",
 '\'No, I\'ll look first,\' she said, \'and see whether it\'s marked "poison" or not\'; for she had read several nice little histories about children who had got burnt, and eaten up by wild beasts and other unpleasant things, all because they WOULD not remember the simple rules their friends had taught them: such as, that a red-hot poker will burn you if you hold it too long; and that if you cut your finger VERY deeply with a knife, it usually bleeds; and she had never forgotten that, if you drink much from a bottle marked \'poison,\' it is almost certain to disagree with you, sooner or later.',
 "However, this bottle was NOT marked 'poison,' so Alice ventured to taste it, and finding it very nice, (it had, in fact, a sort of mixed flavour of cherry-tart, custard, pine-apple, roast turkey, toffee, and hot buttered toast,) she very soon finished it off.",
 "* * * * * * * * * * * * * * * * * * * * 'What a curious feeling!'",
 "said Alice; 'I must be shutting up like a telescope.'",
 'And so it was indeed: she was now only ten inches high, and her face brightened up at the thought that she was now the right size for going through the little door into that lovely garden.',
 "First, however, she waited for a few minutes to see if she was going to shrink any further: she felt a little nervous about this; 'for it might end, you know,' said Alice to herself, 'in my going out altogether, like a candle.",
 "I wonder what I should be like then?'",
 'And she tried to fancy what the flame of a candle is like after the candle is blown out, for she could not remember ever having seen such a thing.',
 'After a while, finding that nothing more happened, she decided on going into the garden at once; but, alas for poor Alice!',
 'when she got to the door, she found she had forgotten the little golden key, and when she went back to the table for it, she found she could not possibly reach it: she could see it quite plainly through the glass, and she tried her best to climb up one of the legs of the table, but it was too slippery; and when she had tired herself out with trying, the poor little thing sat down and cried.',
 "'Come, there's no use in crying like that!'",
 "said Alice to herself, rather sharply; 'I advise you to leave off this minute!'",
 'She generally gave herself very good advice, (though she very seldom followed it), and sometimes she scolded herself so severely as to bring tears into her eyes; and once she remembered trying to box her own ears for having cheated herself in a game of croquet she was playing against herself, for this curious child was very fond of pretending to be two people.',
 "'But it's no use now,' thought poor Alice, 'to pretend to be two people!",
 "Why, there's hardly enough of me left to make ONE respectable person!'",
 "Soon her eye fell on a little glass box that was lying under the table: she opened it, and found in it a very small cake, on which the words 'EAT ME' were beautifully marked in currants.",
 "'Well, I'll eat it,' said Alice, 'and if it makes me grow larger, I can reach the key; and if it makes me grow smaller, I can creep under the door; so either way I'll get into the garden, and I don't care which happens!'",
 "She ate a little bit, and said anxiously to herself, 'Which way?",
 'Which way?',
 "', holding her hand on the top of her head to feel which way it was growing, and she was quite surprised to find that she remained the same size: to be sure, this generally happens when one eats cake, but Alice had got so much into the way of expecting nothing but out-of-the-way things to happen, that it seemed quite dull and stupid for life to go on in the common way.",
 'So she set to work, and very soon finished off the cake.',
 "* * * * * * * * * * * * * * * * * * * * 'Curiouser and curiouser!'",
 "cried Alice (she was so much surprised, that for the moment she quite forgot how to speak good English); 'now I'm opening out like the largest telescope that ever was!",
 "Good-bye, feet!'",
 '(for when she looked down at her feet, they seemed to be almost out of sight, they were getting so far off).',
 "'Oh, my poor little feet, I wonder who will put on your shoes and stockings for you now, dears?",
 "I'm sure _I_ shan't be able!",
 "I shall be a great deal too far off to trouble myself about you: you must manage the best way you can; but I must be kind to them,' thought Alice, 'or perhaps they won't walk the way I want to go!",
 "Let me see: I'll give them a new pair of boots every Christmas.'",
 'And she went on planning to herself how she would manage it.',
 "'They must go by the carrier,' she thought; 'and how funny it'll seem, sending presents to one's own feet!",
 'And how odd the directions will look!',
 "ALICE'S RIGHT FOOT, ESQ.",
 "HEARTHRUG, NEAR THE FENDER, (WITH ALICE'S LOVE).",
 "Oh dear, what nonsense I'm talking!'",
 'Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.',
 'Poor Alice!',
 'It was as much as she could do, lying down on one side, to look through into the garden with one eye; but to get through was more hopeless than ever: she sat down and began to cry again.',
 "'You ought to be ashamed of yourself,' said Alice, 'a great girl like you,' (she might well say this), 'to go on crying in this way!",
 "Stop this moment, I tell you!'",
 'But she went on all the same, shedding gallons of tears, until there was a large pool all round her, about four inches deep and reaching half down the hall.',
 'After a time she heard a little pattering of feet in the distance, and she hastily dried her eyes to see what was coming.',
 "It was the White Rabbit returning, splendidly dressed, with a pair of white kid gloves in one hand and a large fan in the other: he came trotting along in a great hurry, muttering to himself as he came, 'Oh!",
 'the Duchess, the Duchess!',
 'Oh!',
 "won't she be savage if I've kept her waiting!'",
 "Alice felt so desperate that she was ready to ask help of any one; so, when the Rabbit came near her, she began, in a low, timid voice, 'If you please, sir ' The Rabbit started violently, dropped the white kid gloves and the fan, and skurried away into the darkness as hard as he could go.",
 "Alice took up the fan and gloves, and, as the hall was very hot, she kept fanning herself all the time she went on talking: 'Dear, dear!",
 'How queer everything is to-day!',
 'And yesterday things went on just as usual.',
 "I wonder if I've been changed in the night?",
 'Let me think: was I the same when I got up this morning?',
 'I almost think I can remember feeling a little different.',
 "But if I'm not the same, the next question is, Who in the world am I?",
 'Ah']

In [6]:
# Convert all the paragraph into text and it's labels

alice_sents = [[sent, "Carroll"] for sent in nltk.sent_tokenize(alice)]
persuasion_sents = [[sent, "Austen"] for sent in nltk.sent_tokenize(persuasion)]
poems_sents = [[sent, "Blake"] for sent in nltk.sent_tokenize(poems)]
stories_sents = [[sent, "Bryant"] for sent in nltk.sent_tokenize(stories)]
busterbrown_sents = [[sent, "Burgess"] for sent in nltk.sent_tokenize(busterbrown)]
ball_sents = [[sent, "Chesterton"] for sent in nltk.sent_tokenize(ball)]
parents_sents = [[sent, "Edgeworth"] for sent in nltk.sent_tokenize(parents)]
moby_dick_sents = [[sent, "Melville"] for sent in nltk.sent_tokenize(moby_dick)]
paradise_sents = [[sent, "Milton"] for sent in nltk.sent_tokenize(paradise)]
hamlet_sents = [[sent, "Shakespeare"] for sent in nltk.sent_tokenize(hamlet)]

In [7]:
sentences = pd.DataFrame(alice_sents + persuasion_sents + poems_sents + stories_sents + busterbrown_sents + ball_sents + parents_sents + moby_dick_sents + paradise_sents + hamlet_sents)
sentences.head()

                                                   0        1
0  Alice was beginning to get very tired of sitti...  Carroll
1  So she was considering in her own mind (as wel...  Carroll
2  There was nothing so VERY remarkable in that; ...  Carroll
3                                           Oh dear!  Carroll
4                                  I shall be late!'  Carroll

# Creating clusters

## Decomposition

For decreasing the features size of our data we need to use some technique of decomposition. We can't simply use PCA for text vectors so we'll be comparing two other techniques which are used for reducing text features.
    
    1. TruncatedSVD or LSA (Latent Semantic Analysis)
    2. LDA (Latend Dirichlet Allocation)

In [8]:
X = sentences[0]
Y = sentences[1]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=44)

In [9]:
# making a tfidf vector for converting text data into numerical form
cluster_vectorizer = TfidfVectorizer()
X_cluster = cluster_vectorizer.fit_transform(X_train).toarray()
Y_cluster = Y_train

### LDA

In [10]:
lda = LatentDirichletAllocation()
x_lda = lda.fit_transform(X_cluster)

In [11]:
kmeans_lda = KMeans(n_clusters=10)
kmeans_lda.fit(x_lda)
y_predict = kmeans_lda.predict(x_lda)
print(silhouette_score(x_lda, kmeans_lda.labels_))
pd.crosstab(Y_cluster, y_predict)

0.5459476816969323

col_0         0    1   2   3   4   5   6   7   8   9
1
Austen        1  149  11   9   5  10   4   8   4   3
Blake         0    8   2   1   2   4   3   0   2   1
Bryant        6  110  17  67  21   6   4   4   7   9
Burgess       2   42  11  12   7   3   0   4   4   1
Carroll       2   61  11   6   6   4   0   2   1   3
Chesterton   23  116  39  37  21  23  25  22  14  10
Edgeworth    13  379  52  41  24  18  10  11  19   8
Melville     61  239  75  98  79  53  79  51  41  37
Milton       15   20  21  21   9  12  20  11  13  13
Shakespeare   7   29  32  14   7   5  18  20   9  17

Our silhouette score is not so bad for LDA. Now let's check this data on Mean Shift algorithm to check what number of clusters it chooses.

In [12]:
meanshift_lda = MeanShift()
meanshift_lda.fit(x_lda)
y_pred = meanshift_lda.predict(x_lda)
print(silhouette_score(x_lda, meanshift_lda.labels_))
pd.crosstab(Y_cluster, y_pred)

0.38160194199803305

col_0          0    1   2
1
Austen       180   11  13
Blake         20    1   2
Bryant       161   73  17
Burgess       62   12  12
Carroll       77    7  12
Chesterton   248   41  41
Edgeworth    474   46  55
Melville     621  106  86
Milton       112   22  21
Shakespeare  105   16  37

Mean Shift does not require to specify the number of clusters as it uses automatically chooses appropriate number of clusters and tries to fit our model based on that number. We only use this method when our data is small because it takes a lot of time to train.

For LDA MeanShift worked well but looking at crosstab we see that it only has 2 clusters. So, it makes it less reliable than k-means with 10 clusters as we know the number of authors in our data.

### TruncatedSVD

In [13]:
svd = TruncatedSVD(n_components=100, random_state=40)
x_svd = svd.fit_transform(X_cluster)

In [14]:
kmeans_svd = KMeans(n_clusters=10)
kmeans_svd.fit(x_svd)
y_predict = kmeans_svd.predict(x_svd)
print(silhouette_score(x_svd, kmeans_svd.labels_))
pd.crosstab(Y_cluster, y_predict)

0.023762496288718387

col_0         0   1   2   3   4   5    6    7   8    9
1
Austen        4   4   4   0  35  22   33   52   0   50
Blake         0   0   0   0   0   0    5   10   0    8
Bryant       40  23   2  16  22   4   20   51  16   57
Burgess       3   1   5   0   0  13   28   24   0   12
Carroll       2   7   4   0  28  11    1   38   0    5
Chesterton   17  21  10   0   0  33   62   64   0  123
Edgeworth    50  74  26   1  82  39  116  111   0   76
Melville      9  25  22   0   7  63   88  331   1  267
Milton        0   0   3   0   0   0   19   59   0   74
Shakespeare   0  11   9   0   2  21    2   96   0   17

In [15]:
meanshift_svd = MeanShift()
meanshift_svd.fit(x_svd)
print(silhouette_score(x_svd, meanshift_svd.labels_))
y_pred = meanshift_svd.predict(x_svd)
pd.crosstab(Y_cluster, y_pred)

0.15018672629583116

col_0,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,50,51,52
1,,,,,,,,,,,,,,,,,,,,,
Austen,203,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Blake,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Bryant,187,9,8,6,6,5,3,4,0,0,...,0,0,0,0,1,0,0,0,2,0
Burgess,84,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Carroll,91,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
Chesterton,320,0,0,0,0,0,0,1,0,2,...,0,0,0,0,0,0,0,0,0,1
Edgeworth,529,0,0,0,0,0,0,0,2,0,...,2,2,2,1,0,1,0,1,0,1
Melville,801,0,0,0,0,1,1,0,0,0,...,0,1,0,0,1,0,1,0,0,2
Milton,154,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Shakespeare,154,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,1

Both these models performed very poorly for TruncatedSVD and as per other machine learning experts LDA tends to be much more reliable compared to LSA which is clearly observed in our scores.

In [16]:
sclustering = SpectralClustering(n_clusters=10, random_state=40)
y_pred = sclustering.fit_predict(x_lda)
print(silhouette_score(x_svd, sclustering.labels_))
pd.crosstab(Y_cluster, y_pred)

-0.10368864399299942

col_0         0   1   2    3   4   5   6   7   8   9
1
Austen        7   7   2  161   5   1   5   7   6   3
Blake         1   1   3    9   2   0   2   4   0   1
Bryant       61  16   1  125  20   5   7   6   3   7
Burgess      10   9   0   51   5   1   4   3   2   1
Carroll       5  10   0   65   5   2   1   4   2   2
Chesterton   33  34  19  140  16  22  14  21  20  11
Edgeworth    31  40   8  421  18  13  17  14   7   6
Melville     91  68  74  297  69  52  42  48  41  31
Milton       19  19  17   32   9  13  14  10   9  13
Shakespeare  14  30  16   38   6   7   9   5  17  16

SpectralClustering is doing very poor job so we won't be looking into it.

In [17]:
sentences[1].value_counts()

Melville       1090
Edgeworth       778
Chesterton      439
Bryant          327
Austen          280
Milton          210
Shakespeare     210
Carroll         118
Burgess         108
Blake            28
Name: 1, dtype: int64

## Vectorizing methods

We will try TfidfVectorizer and CountVectorizer for converting our data into numerical form. Next we would compare both those models for higher accuracy.

In [18]:
tfidf_vectorizer = TfidfVectorizer()
X_tfidf = tfidf_vectorizer.fit_transform(X_train)

count_vectorizer = CountVectorizer()
X_count = count_vectorizer.fit_transform(X_train)

# Supervised Modeling

Now let's make some models with labels available to us. We'll try 3 different supervised models, RandomForestClassifier, GradientBoostingClassifier and LogisticRegression and see which works best.

### RandomForestClassifier

In [19]:
# random forest with tfidf vectorizer
rfc_tfidf = RandomForestClassifier(n_estimators=100, max_depth=3, random_state=30)
rfc_tfidf.fit(X_tfidf, Y_train)
print("Tfidf Train score: ", rfc_tfidf.score(X_tfidf, Y_train))

# random forest with count vectorizer
rfc_count = RandomForestClassifier(n_estimators=100, max_depth=3, random_state=30)
rfc_count.fit(X_count, Y_train)
print("Count Train score: ", rfc_count.score(X_count, Y_train))

Tfidf Train score:  0.30992196209587514
Count Train score:  0.3110367892976589

### GradientBoostingClassifier

In [20]:
# Gradient boosting with tfidf vectorizer
gbc_tfidf = GradientBoostingClassifier()
gbc_tfidf.fit(X_tfidf, Y_train)
print("Tfidf Train score: ", gbc_tfidf.score(X_tfidf, Y_train))

# Gradient boosting with count vectorizer
gbc_count = GradientBoostingClassifier()
gbc_count.fit(X_count, Y_train)
print("Count Train score: ", gbc_count.score(X_count, Y_train))

Tfidf Train score:  0.9126718691936083
Count Train score:  0.872166480862133

### LogisticRegression

In [21]:
# Logistic Regression with tfidf Vectorizer
lr_tfidf = LogisticRegression()
lr_tfidf.fit(X_tfidf, Y_train)
print("Tfidf Train score: ", lr_tfidf.score(X_tfidf, Y_train))

# Logistic Regression with count vectorizer
lr_count = LogisticRegression()
lr_count.fit(X_count, Y_train)
print("Count Train score: ", lr_count.score(X_count, Y_train))

C:\Users\vivek\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\vivek\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

Tfidf Train score:  0.7959866220735786
Count Train score:  0.9609810479375697

Best model from supervised learning is Logistic Regression with accuracy of 95% in both train and test dataset. Best performing vectorizer is CountVectorizer in every model. TfidfVectorizer tends to overfitting in LogisticRegression.

# Unsupervise modeling

#### Count vectorizer

In [22]:
lda = LatentDirichletAllocation()
x_lda = lda.fit_transform(X_count)

In [23]:
x_lda

array([[0.2243359 , 0.00333403, 0.00333405, ..., 0.00333392, 0.00333389,
        0.00333383],
       [0.01111248, 0.01111241, 0.01111294, ..., 0.01111313, 0.89997469,
        0.01111278],
       [0.00909287, 0.39039528, 0.0090923 , ..., 0.53686077, 0.00909226,
        0.00909284],
       ...,
       [0.0100034 , 0.01000266, 0.01000101, ..., 0.01000144, 0.01000275,
        0.01000211],
       [0.00357248, 0.0035723 , 0.00357176, ..., 0.00357197, 0.00357224,
        0.00357249],
       [0.00250052, 0.47845943, 0.50153684, ..., 0.00250039, 0.00250046,
        0.00250058]])

In [24]:
X_train_count = pad_sequences(x_lda)

In [25]:
X_count.shape

(2691, 7758)

In [26]:
model = Sequential()
model.add(Embedding(2600, 128,input_length = X_train_count.shape[1]))
model.add(SpatialDropout1D(0.4))
model.add(LSTM(256, dropout_U=0.2, dropout_W=0.2, return_sequences=False))
model.add(Dense(128, activation='relu'))
model.add(Dense(10, activation='softmax'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

WARNING: Logging before flag parsing goes to stderr.
W0715 14:53:52.139939 14484 deprecation_wrapper.py:119] From C:\Users\vivek\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0715 14:53:52.172850 14484 deprecation_wrapper.py:119] From C:\Users\vivek\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0715 14:53:52.179832 14484 deprecation_wrapper.py:119] From C:\Users\vivek\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0715 14:53:52.200808 14484 deprecation_wrapper.py:119] From C:\Users\vivek\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

W0715 14:53:52.208783 14484 deprecation.py:506] From C:\Users\vivek\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
C:\Users\vivek\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Update your `LSTM` call to the Keras 2 API: `LSTM(256, return_sequences=False, dropout=0.2, recurrent_dropout=0.2)`
  after removing the cwd from sys.path.
W0715 14:53:52.701470 14484 deprecation_wrapper.py:119] From C:\Users\vivek\Anaconda3\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0715 14:53:52.715400 14484 deprecation_wrapper.py:119] From C:\Users\vivek\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3376: The name tf.log is deprecated. Please use tf.math.log instead.

W0715 14:53:52.720387 14484 deprecation.py:323] From C:\Users\vivek\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 10, 128)           332800
_________________________________________________________________
spatial_dropout1d_1 (Spatial (None, 10, 128)           0
_________________________________________________________________
lstm_1 (LSTM)                (None, 256)               394240
_________________________________________________________________
dense_1 (Dense)              (None, 128)               32896
_________________________________________________________________
dense_2 (Dense)              (None, 10)                1290
=================================================================
Total params: 761,226
Trainable params: 761,226
Non-trainable params: 0
_________________________________________________________________

In [27]:
Y_train.value_counts()

Melville       813
Edgeworth      575
Chesterton     330
Bryant         251
Austen         204
Shakespeare    158
Milton         155
Carroll         96
Burgess         86
Blake           23
Name: 1, dtype: int64

In [28]:
y_train = pd.get_dummies(Y_train)

In [29]:
print(y_train)

      Austen  Blake  Bryant  Burgess  Carroll  Chesterton  Edgeworth  \
1390       0      0       0        0        0           0          1
2852       0      0       0        0        0           0          0
1669       0      0       0        0        0           0          1
1430       0      0       0        0        0           0          1
944        0      0       0        0        0           1          0
3225       0      0       0        0        0           0          0
946        0      0       0        0        0           1          0
1502       0      0       0        0        0           0          1
1391       0      0       0        0        0           0          1
3152       0      0       0        0        0           0          0
212        1      0       0        0        0           0          0
382        1      0       0        0        0           0          0
2803       0      0       0        0        0           0          0
1585       0      0       0        0        0           0          1
486        0      0       1        0        0           0          0
134        1      0       0        0        0           0          0
2155       0      0       0        0        0           0          0
1831       0      0       0        0        0           0          1
993        0      0       0        0        0           1          0
1133       0      0       0        0        0           1          0
3258       0      0       0        0        0           0          0
719        0      0       1        0        0           0          0
1288       0      0       0        0        0           1          0
2323       0      0       0        0        0           0          0
2844       0      0       0        0        0           0          0
3575       0      0       0        0        0           0          0
819        0      0       0        1        0           0          0
119        1      0       0        0        0           0          0
2677       0      0       0        0        0           0          0
419        0      1       0        0        0           0          0
...      ...    ...     ...      ...      ...         ...        ...
3411       0      0       0        0        0           0          0
3421       0      0       0        0        0           0          0
932        0      0       0        0        0           1          0
2407       0      0       0        0        0           0          0
2168       0      0       0        0        0           0          0
1038       0      0       0        0        0           1          0
1281       0      0       0        0        0           1          0
2105       0      0       0        0        0           0          0
501        0      0       1        0        0           0          0
2660       0      0       0        0        0           0          0
3181       0      0       0        0        0           0          0
3046       0      0       0        0        0           0          0
2275       0      0       0        0        0           0          0
579        0      0       1        0        0           0          0
1731       0      0       0        0        0           0          1
3545       0      0       0        0        0           0          0
2966       0      0       0        0        0           0          0
311        1      0       0        0        0           0          0
3223       0      0       0        0        0           0          0
120        1      0       0        0        0           0          0
3050       0      0       0        0        0           0          0
2799       0      0       0        0        0           0          0
2947       0      0       0        0        0           0          0
84         0      0       0        0        1           0          0
2144       0      0       0        0        0           0          0
571        0      0       1        0        0           0          0
1197       0      0       0        0        0           1          0
2801       0      0       0        0        0           0          0
3491       0      0       0        0        0           0          0
1812       0      0       0        0        0           0          1

      Melville  Milton  Shakespeare
1390         0       0            0
2852         1       0            0
1669         0       0            0
1430         0       0            0
944          0       0            0
3225         0       1            0
946          0       0            0
1502         0       0            0
1391         0       0            0
3152         1       0            0
212          0       0            0
382          0       0            0
2803         1       0            0
1585         0       0            0
486          0       0            0
134          0       0            0
2155         1       0            0
1831         0       0            0
993          0       0            0
1133         0       0            0
3258         0       1            0
719          0       0            0
1288         0       0            0
2323         1       0            0
2844         1       0            0
3575         0       0            1
819          0       0            0
119          0       0            0
2677         1       0            0
419          0       0            0
...        ...     ...          ...
3411         0       0            1
3421         0       0            1
932          0       0            0
2407         1       0            0
2168         1       0            0
1038         0       0            0
1281         0       0            0
2105         1       0            0
501          0       0            0
2660         1       0            0
3181         0       1            0
3046         1       0            0
2275         1       0            0
579          0       0            0
1731         0       0            0
3545         0       0            1
2966         1       0            0
311          0       0            0
3223         0       1            0
120          0       0            0
3050         1       0            0
2799         1       0            0
2947         1       0            0
84           0       0            0
2144         1       0            0
571          0       0            0
1197         0       0            0
2801         1       0            0
3491         0       0            1
1812         0       0            0

[2691 rows x 10 columns]

In [30]:
print(X_train_count.shape, y_train.shape)

(2691, 10) (2691, 10)

In [31]:
history = model.fit(X_train_count, y_train, epochs=5, batch_size=64, verbose=2)

Epoch 1/5
 - 2s - loss: 0.2953 - acc: 0.8989
Epoch 2/5
 - 1s - loss: 0.2885 - acc: 0.9000
Epoch 3/5
 - 1s - loss: 0.2881 - acc: 0.9000
Epoch 4/5
 - 1s - loss: 0.2881 - acc: 0.9000
Epoch 5/5
 - 1s - loss: 0.2884 - acc: 0.9000

In [32]:
y_predict_train = model.predict_classes(X_train_count)
print(y_predict.shape)

(2691,)

#### Tfidf Vectorizer

In [36]:
lda = LatentDirichletAllocation()
X_train_tfidf = tfidf_vectorizer.transform(X_train)
X_test_tfidf = tfidf_vectorizer.transform(X_test)
x_lda = lda.fit_transform(X_train_tfidf)
x_test_tfidf = lda.transform(X_test_tfidf)

In [37]:
X_train_tfidf = pad_sequences(x_lda)

In [39]:
print(X_train_tfidf.shape, Y_train.shape)
print(x_test_tfidf.shape, Y_test.shape)

(2691, 10) (2691,)
(897, 10) (897,)

In [41]:
history = model.fit(X_train_tfidf, y_train, epochs=10, batch_size=5, verbose=2)

Epoch 1/10
 - 10s - loss: 0.2899 - acc: 0.9000
Epoch 2/10
 - 10s - loss: 0.2887 - acc: 0.9000
Epoch 3/10
 - 9s - loss: 0.2885 - acc: 0.9000
Epoch 4/10
 - 9s - loss: 0.2881 - acc: 0.9000
Epoch 5/10
 - 9s - loss: 0.2880 - acc: 0.9000
Epoch 6/10
 - 10s - loss: 0.2881 - acc: 0.9000
Epoch 7/10
 - 9s - loss: 0.2880 - acc: 0.9000
Epoch 8/10
 - 9s - loss: 0.2878 - acc: 0.9000
Epoch 9/10
 - 9s - loss: 0.2879 - acc: 0.9000
Epoch 10/10
 - 9s - loss: 0.2877 - acc: 0.9000

It looks like model has 90% accuracy but there's something wrong with this model as it is constant from starting epoch to end.

## Test data validation

In [42]:
x_tfidf = cluster_vectorizer.transform(X_test).toarray()
x_test = lda.transform(x_tfidf)
y_test = Y_test

In [43]:
y_predict = kmeans_lda.predict(x_test)
print(silhouette_score(x_test, y_predict))
pd.crosstab(y_test, y_predict)

0.5774591681508521

col_0        0  1  2  3  4  5    6  7  8   9
1
Austen       0  0  0  0  0  0   76  0  0   0
Blake        0  0  0  0  0  0    3  1  1   0
Bryant       0  0  1  0  0  3   69  0  1   2
Burgess      0  0  0  0  0  0   22  0  0   0
Carroll      0  0  0  0  0  0   22  0  0   0
Chesterton   0  1  3  0  0  1   98  5  0   1
Edgeworth    0  0  0  1  1  1  199  0  0   1
Melville     4  4  3  5  8  5  228  6  2  12
Milton       1  0  1  1  0  0   51  0  0   1
Shakespeare  2  0  0  4  0  0   39  3  0   4

Silhouette score looks good for test data also for clustering algorithms

In [44]:
X_test_tfidf = tfidf_vectorizer.transform(X_test)
X_test_count = count_vectorizer.transform(X_test)

#### Random Forest Test Score

In [45]:
print("Tfidf Test score: ", rfc_tfidf.score(X_test_tfidf, Y_test))
print("Count Test score: ", rfc_count.score(X_test_count, Y_test))

Tfidf Test score:  0.31438127090301005
Count Test score:  0.3166109253065775

#### Gradient Boosting Test Score

In [46]:
print("Tfidf Test score: ", gbc_tfidf.score(X_test_tfidf, Y_test))
print("Count Test score: ", gbc_count.score(X_test_count, Y_test))

Tfidf Test score:  0.6744704570791528
Count Test score:  0.6867335562987736

#### Logistic Regression Test Score

In [47]:
print("Tfidf Test score: ", lr_tfidf.score(X_test_tfidf, Y_test))
print("Count Test score: ", lr_count.score(X_test_count, Y_test))

Tfidf Test score:  0.6744704570791528
Count Test score:  0.7302118171683389

# Conclusion

So in conclusion our clustering is working good in train and test dataset as silhouette score is consistent in both data. Logistic Regressor is best performer in supervised models which has accuracy of 95% in training dataset and 73% in testing dataset.